@import 'panel';

@mixin pill($bg-color) {
  padding: 5px;
  border-radius: 10px;
  background: $bg-color;
  color: $green-mist;

  a {
    color: $green-mist;
    text-decoration: none;

    &:hover {
      color: $green-mist;
      text-decoration: none;
    }
  }
}
