%panel {
  background-color: $green-mist;
  border: 2px solid darkgreen;
  border-radius: 3px;

  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;

  padding: 15px 15px;

  h1 {
    font-size: 16px;
  }
}

#panels {
  .row {
    @include row();
    margin-bottom: 20px;
  }
}

#loans {
  @extend %panel;
  @include span-columns(12);
}


#balance, #amount_lent, #next_up {
  @extend %panel;
  @include span-columns(4);
}

