%panel {
  @include clearfix();
  background-color: $green-mist;
  border: 2px solid $border-green;
  border-radius: 3px;

  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;

  padding: 15px 15px;

  h1 {
    font-size: 16px;
  }
}

#panels {
  .row {
    @include row();
    margin-bottom: 20px;
  }
}

#loans, #money_available {
  @extend %panel;
  @include span-columns(12);
}


#balance, #amount_lent, #next_up {
  @extend %panel;
  @include span-columns(4);
}

#loans {
  ul {
    list-style-type: none;
    display: inline-block;
    li.loan {
      display: inline;
    };
  };
}

#next_up {
  .me:before {
    color: $kiva_green;
    content: '(me)';
    font-size: 11px;
    font-variant: small-caps;
    text-decoration: dotted;
  }

  h2 {
    margin-top:    28px;
    margin-bottom: 29px;
  }
}
