#api_query {
  #api_input {
    @include row();

    input {
      width: 500px;
    }

    margin-bottom: 20px;
  }

  #api_reference {
    @include row();
    margin-bottom: 10px;
  }

  #results {
    @extend %panel;

    min-height: 500px;
  }
}
